<div id="<%= dom_id lead %>">
  <div>
    <strong>Name:</strong>
    <%= lead.name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= lead.email %>
  </div>

  <div>
    <strong>Phone:</strong>
    <%= lead.phone %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= lead.address %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= lead.status %>
  </div>

</div>
