<%= form_with(model: project, class: "contents") do |form| %>
  <div class="my-5">
    <%= form.label :lead_id, "Pilih Prospek (Lead)" %>
    <%= form.collection_select :lead_id, Lead.all, :id, :name, { prompt: "Pilih Lead" }, class: "block w-full border border-gray-300 rounded-md p-2 mt-2" %>
  </div>

  <div class="my-5">
    <%= form.label :product_id, "Layanan (Product)" %>
    <%= form.collection_select :product_id, Product.all, :id, :name, { prompt: "Pilih Produk" }, class: "block w-full border border-gray-300 rounded-md p-2 mt-2" %>
  </div>

  <div class="inline">
    <%= form.submit "Simpan & Generate SVC Code", class: "rounded-lg py-3 px-5 bg-blue-900 text-white font-medium cursor-pointer" %>
  </div>
<% end %>