<div id="<%= dom_id project %>">
  <div>
    <strong>Lead:</strong>
    <%= project.lead_id %>
  </div>

  <div>
    <strong>Product:</strong>
    <%= project.product_id %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= project.status %>
  </div>

  <div>
    <strong>Approved at:</strong>
    <%= project.approved_at %>
  </div>

</div>
