<div id="<%= dom_id project %>">
  <div>
    <strong>Lead:</strong>
    <%= project.lead_id %>
  </div>

  <div>
    <strong>Product:</strong>
    <%= project.product_id %>
  </div>

  <div>
    <strong>User:</strong>
    <%= project.user_id %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= project.status %>
  </div>

  <div>
    <strong>Svc code:</strong>
    <%= project.svc_code %>
  </div>

  <div>
    <strong>Approved at:</strong>
    <%= project.approved_at %>
  </div>

  <div>
    <strong>Deleted at:</strong>
    <%= project.deleted_at %>
  </div>

</div>
